---
import GenealogyGraph from "../components/GenealogyGraph.astro";
import jsonData from "@/data/sample_tree.json";
import type {GenealogyData} from "@/types";

const genealogyData: GenealogyData = jsonData;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Genealogy Tree</title>
  </head>
  <body>
    <h1>Genealogy Tree</h1>
    <GenealogyGraph data={genealogyData} />
  </body>
</html>
